/* about.component.css */

.about-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .info-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-table th, .info-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .info-table th {
    background-color: #000000;
    color: white;
  }
  
  .info-table td {
    background-color: #fff;
  }
  
  h2 {
    color: #000000;
  }
  
  .site-info, .developer-info, .co-developer-info {
    margin-bottom: 40px;
  }
  